@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,400&family=Russo+One&display=swap');
@import 'vars';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // cursor: none;

  ::selection {
    background: transparent;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}