@import '../../assets/scss/vars';

.FirstScreen {
  position: relative;
  height: calc(100vh - 130px);
}

.FirstScreen__Word {
  color: $textColor;
  font-family: $headersFont;
  font-size: $FZ_firstScreenTitle;
  text-transform: uppercase;
  line-height: 0.9em;
  display: flex;
  align-items: center;
}

.FirstScreen__Word__Comment {
  margin-left: 30px;
  font-size: $FZ_firstScreenComment;
  line-height: 1.5em;
  font-family: $textFont;
  font-weight: 600;
  color: $textColor;

  span {
    opacity: 0.5;
    margin-right: 15px;
  }
}

.FirstScreen__Asterisk {
  position: absolute;
  top: 0;
  right: 0;

  svg {
    fill: $textColor;
    opacity: 0.5;
    animation: spiner 30s linear infinite;
  }
}

@media (max-width: 992px) {
  .FirstScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 100px);
  }

  .FirstScreen__Word {
    margin: 0 auto;

    &:nth-child(1) {
      font-size: 21.2vw;
    }

    &:nth-child(2) {
      font-size: 15.5vw;
    }

    &:nth-child(3) {
      font-size: 14vw;
    }
  }

  .FirstScreen__Wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
  }

  .FirstScreen__Word__Comment {
    position: static;
    display: inline-block;
    font-size: 48px;
  }

  .FirstScreen__Asterisk {
    display: inline-block;
    position: static;
    margin-top: 30px;
    width: 50%;
  }

  @media (max-width: 768px) {
    .FirstScreen {
      margin-top: 15vh;
    }

    .FirstScreen__Wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;

      &:nth-child(1) {
        font-size: 23.4vw;
      }

      &:nth-child(2) {
        font-size: 17.1vw;
      }

      &:nth-child(3) {
        font-size: 15.2vw;
      }
    }

    .FirstScreen__Word__Comment {
      font-size: 10vw;
      margin-top: 50px;
    }

    @media (max-width: 560px) {
      .FirstScreen {
        margin-top: 0vh;
      }
    }
  }
}
