@import '../../assets/scss/vars';

.GetMe {
  padding-bottom: 150px;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.GetMe__Button {
  width: 300px;
  height: 300px;
  position: relative;

  svg {
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.33s all;
  }

  &__ArcText {
    font-family: $headersFont;
    color: $textColor;
    text-transform: uppercase;
    font-size: 2em;
    animation: spiner 30s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.33s all;
  }

  &:hover {
    svg {
      opacity: 0.5;
      transform: rotate(320deg);
    }

    .GetMe__Button__ArcText {
      opacity: 0.5;
    }
  }
}