@import '../../assets/scss/vars';

.More {
  padding-bottom: 150px;
}

.More__Main {
  width: 60%;
  margin: 0 auto;
  font-size: $FZ_text;
  font-family: $textFont;
  color: $textColor;
  position: relative;
}

.More__Main__Question {
  font-weight: 600;
  text-align: left;
}

.More__Main__Answer {
  font-weight: 300;
  text-align: right;
  margin-left: 50px;
}

.More__Main__Wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 100px;
}

.More__Link {
  position: relative;
  transition: 0.33s all;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: $textColor;
    right: 0;
    bottom: 3px;
    opacity: 0.5;
    transition: 0.33s all;
  }

  &:hover {
    padding-bottom: 5px;

    &:after {
      opacity: 1;
    }
  }
}

@media (max-width: 992px) {
  .More__Main {
    width: auto;
    &__Wrapper {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__Question {
      text-align: center;
    }
    
    &__Answer {
      text-align: center;
      margin-left: 0;
    }

    font-size: 48px;
    width: 95%;

    @media (max-width: 768px) {
      font-size: 36px;

      &__Wrapper {
        margin-bottom: 60px;
      }

      @media (max-width: 425px) {
        font-size: 24px;

        &__Wrapper {
          margin-bottom: 40px;
        }
      }
    }
  }
}
