@import '../../assets/scss/vars';

.Header {
  height: 130px;
  padding: 0 100px 30px 100px;
  font-family: $headersFont;
  color: $textColor;
  font-size: $FZ_header;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: fixed;
  z-index: 10;
  width: 100%;
  mix-blend-mode: difference;

  &__Name,
  &__Action {
    transition: 0.33s all;
    &:hover {
      opacity: 0.5;
    }
  }

  @media (max-width: 992px) {
    height: 100px;
    padding: 0 70px 20px 70px;
    font-size: 24px;
  }

  @media (max-width: 560px) { 
    padding: 0 10px 40px 10px;
    font-size: 5vw;
  }
}
