@import '../../assets/scss/vars';

.Experience {
  padding-bottom: 250px;
}

.Experience__Main {
  text-align: center;
  width: 80%;
  margin: 0 auto;

  & > div:first-child {
    margin-bottom: 150px;
  }
}

.Experience__Main__Article {
  color: $textColor;
  font-family: $textFont;

  &__Date {
    opacity: 0.5;
    font-size: $FZ_text_small;
    font-style: italic;
    margin-bottom: 30px;
  }

  &__Company {
    font-size: 4vw;
    font-weight: 600;

    &__Details {
      margin-bottom: 30px;
    }
  }

  &__Details {
    font-size: $FZ_text;
    font-weight: 300;
  }
}

@media (max-width: 992px) {
  .Experience__Main {
    width: auto;
  }

  .Experience__Main__Article {
    &__Date {
      font-size: 24px;
    }

    &__Company {
      font-size: 64px;

      &__Details {
        font-size: 24px;
      }
    }

    &__Details {
      font-size: 48px;
    }
  }

  @media (max-width: 768px) {
    .Experience__Main__Article {
      &__Details {
        font-size: 36px;
      }

      @media (max-width: 560px) {
        &__Date {
          font-size: 7vw;
        }

        &__Details {
          font-size: 24px;
        }

        &__Company {
          font-size: 12vw;

          &__Details {
            font-size: 7vw;
          }
        }
      }
    }
  }
}
