@import '../../assets/scss/vars';

.Lang {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $textFont;
  font-size: 20px;
  font-weight: 600;
  position: fixed;
  bottom: 50px;
  right: 100px;
  background: $textColor;
  color: $background;
  border-radius: 50%;
  cursor: pointer;
  transition: .33s all;
  text-transform: uppercase;

  &:hover {
    opacity: 0.5;
  }

  p {
    padding: 10px 5px;
  }

  @media (max-width: 992px) {
    right: 70px;
  }

  @media (max-width: 560px) {
    right: 10px;
    bottom: 10px;
  }
}