@import '../../../assets/scss/vars';

.Cursor {
  width: 40px;
  height: 40px;
  border: 2px solid $textColor;
  border-radius: 50%;
  opacity: 0.5;
  z-index: 999;
  transition: 0.33s all ease-in-out;
  mix-blend-mode: difference;

  &_hovered {
    opacity: 1;
    width: 80px;
    height: 80px;
  }
}

.CursorInner {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: $textColor;
  z-index: 999;
  transition: 0.33s all ease-in-out;
  mix-blend-mode: difference;

  &_hovered {
    width: 25px;
    height: 25px;
    opacity: 0.5;
  }

  &_pressed {
    width: 40px;
    height: 40px;
  }
}
