@import '../../assets/scss/vars';

.Error {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: $background;
  color: $textColor;
  position: relative;
}

.Error__Title {
  font-size: 25em;
  font-family: $headersFont;
  margin-top: -5%;
}

.Error__Subtitle {
  font-size: 2em;
  font-family: $textFont;
  font-weight: 300;
}

.Error__Back {
  position: absolute;
  top: 10%;
  left: 10%;
  display: flex;
  align-items: center;

  svg {
    fill: $textColor;
    transition: 0.33s all;
  }

  &__Text {
    font-weight: 600;
    font-size: 1.3em;
    font-family: $textFont;
    margin-left: 20px;
    transition: 0.33s all;

    &::selection {
      background: transparent;
    }
  }

  &:hover {
    svg {
      opacity: 0.5;
    }

    .Error__Back__Text {
      opacity: 0.5;
      margin-left: 25px;
    }
  }
}

@media (max-width: 992px) {
  .Error__Title {
    font-size: 45vw;
  }
}